{% extends "base.html" %}

{% block title %}
  {{ category }} Articles | {{ SITENAME }}
{% endblock %}

{% block content %}
  <h2>{{ category }} Pages</h2>
  <hr/>
  {% for article in articles_page.object_list|sort(attribute="source_path") %}
    <article class="row teaser">
      <header class="col-sm-4 text-muted">
        <ul>
          <li title="{{ article.date.isoformat() }}">
            <i class="fa fa-clock-o"></i>
            {{ article.locale_date }}
          </li>         
        </ul>
      </header>
      <div class="col-sm-8">
        <h4 class="title">
          <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
        </h4>
        <div class="content">
          {{ article.summary|striptags }}
        </div>
      </div>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
  {% include 'include/pagination.html' %}
{% endblock %}
