{% extends "base.html" %}

{% block head %}
  {{ super() }}
  {% if DESCRIPTION %}
    <meta name="description" content="{{ DESCRIPTION|striptags }}">
  {% endif %}
{% endblock %}

{% block title %}
  {{ SITENAME }} | {{ SITESUBTITLE }}
{% endblock %}

{% block page_header %}
  Projects
{% endblock %}

{% block content %}
  <div class="container marketing">
    <div class="row">
    {% for category, articles in categories %}
        <div class="col-lg-4 col-sm-6 col-xs-12">
            <img class="img-circle" src="{{filename}}/{{category}}/index.png') }}" alt="{{ category }}" width="140" height="140">
              <h2>{{ category }}</h2>
              <ul>
	        {% for article in articles %}
		<li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
		{% endfor %}
	      </ul>
              <p><a class="btn btn-default" href="{{ SITEURL }}/{{ category.url }}" role="button">View details &raquo;</a></p>
        </div>
    {% endfor %}
    </div>
{% endblock %}
