{% extends "base.html" %}

{% block head %}
  {{ super() }}
  {% if DESCRIPTION %}
    <meta name="description" content="{{ DESCRIPTION|striptags }}">
  {% endif %}
{% endblock %}

{% block title %}
  {{ SITENAME }} | {{ SITESUBTITLE }}
{% endblock %}

{% block page_header %}
  Projects
{% endblock %}

{% block content %}
  <div class="container">
    {% for category, articles in categories %}
    <div class="card">
	<img class="mx-auto" src="{{ SITEURL }}/images/{{ category }}.png" alt="{{ category }}">
	<div class="card-header">
	  <h3 class="card-title">{{ category }}</h3>
	</div>
   	<ul class="list-group list-group-flush">
	  {% for article in articles %}
	    <li class="list-group-item"><a class="card-link" href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
	  {% endfor %}
	</ul>
        <a class="btn btn-default" href="{{ SITEURL }}/{{ category.url }}" role="button">View Project Page &raquo;</a>
    </div>
    {% endfor %}
    </div>
{% endblock %}
